

/*------------  Footer -------------*/
#footer {
  bottom: 0;
  width: 100%;
  margin-top: 25px;
  padding: 10px;
  min-height: 50px;
  background-color: rgb(20, 20, 20);
}

.white-text {
  color: rgb(175, 175, 175);
}
.move-up {
  margin-top: -10px;
}

#footer .coffee-button {
  position: relative;
  left: 20px;
}

@media (max-width: 768px) {
  #footer {
    position: relative;
  }
}

.footer-inner {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .footer-inner {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
}

.footer-inner .spacer {
  height: auto;
}

@media (max-width: 768px) {
  .footer-inner .spacer {
    display: none;
  }
}

.footer-links {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.9em;
}

@media (max-width: 768px) {
  .footer-links {
    width: 100%;
    padding: 20px;
  }
}

.footer-inner p {
  color: #fff;
  margin-right: 25px;
}

@media (max-width: 768px) {
  .footer-inner p {
    width: 100%;
  }
}

.footer-inner a {
  color: #fff;
  padding: 20px 10px;
  text-decoration: none;
}

@media (max-width: 768px) {
  .footer-inner a {
    padding: 5px 10px;
  }
}

.footer-inner a:hover {
  text-decoration: underline;
}
